@page "/registrations/create"
@model ConMan.Pages.RegistrationsCreate

@{
    ViewData["Title"] = "Создание регистрации";
}

<h2>Добавление новой регистрации</h2>
<form method="post">
    <p>
        <label asp-for="Registration.EventId">Номер события</label><br />
        <input asp-for="Registration.EventId" type="number" required />
        <span asp-validation-for="Registration.EventId" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="Registration.ParticipantId">Номер участника</label><br />
        <input asp-for="Registration.ParticipantId" type="number" required />
        <span asp-validation-for="Registration.ParticipantId" class="text-danger"></span>
    </p>
    <p>
        <label asp-for="Registration.StatusId">Статус регистрации</label><br />
        <select asp-for="Registration.StatusId" asp-items="@(new SelectList(Model.Statuses, "Id", "StatusName"))" required>
            <option value="">Выберите статус</option>
        </select>
        <span asp-validation-for="Registration.StatusId" class="text-danger"></span>
    </p>
    <input type="submit" value="Отправить" />
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div style="color: red;">
        <ul>
            @foreach (var modelState in ViewData.ModelState.Values)
            {
                foreach (var error in modelState.Errors)
                {
                    <li>@error.ErrorMessage</li>
                }
            }
        </ul>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}